---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-2 pt-2 pt-md-2 pb-md-2">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
				{% if page.locale == "en" %}
					If you would like to get in touch to arrange a class or make an enquiry, please contact me by email or whatsapp and I would be happy to discuss.
				{% else %}
					Si tu quieres saber más o organizar tu primero clase, conocerme por correo electrónico o en Whatsapp. 
				{% endif %}
			    <br> </br>
				{% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
				
            </div>
        </div>
    </div>
</div>
